.pageContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 0.5em;
}

.orderContainer {
    /* background-color: #800c00; */
    background-color: #f0f8ea; 
    color: #be8a60;    
    padding: 0.5em;
    border-radius: 0.5em;
}

.ordersContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5em;
}