.popupContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    background-color: #ffffff;
    color: #800c00;
}

.confirmBtns {
    display: flex;
    gap: 0.5em;
}
