.pageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.itemContainer {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Garante espaçamento uniforme */
    gap: 1em;
}

.itemContainer img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.itemsListContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 1em;
}

.itemContent {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.ingredients {
    color: #c66060;
}

.portionContainer {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.portionBtns {
    display: flex;
    gap: 0.2em;
}

.confirmBtn{
    position: fixed;
    font-size: x-large;
    bottom: 2em;
}